<%- include('partials/header'); %>
<div>
  <% if(errorMessage) { %>
    <h4 style="color: red">⚠️<%= errorMessage %></h4>
  <% } %>
  <form method="POST" enctype="multipart/form-data">
    <img src="/<%= loggedInUser.avatarUrl %>" width="100" height="100" />
    <label for="avatar">Avatar</label>
    <input type="file" name="avatar" id="avatar" accept="image/*"/>
    <label for="email">Email</label>
    <input type="email" name="email" id="email" value=<%= loggedInUser.email %> readonly required/>
    <label for="username">User Name</label>
    <input type="text" name="username" id="username" value=<%= loggedInUser.username %> readonly required/>
    <label for="name">Name</label>
    <input type="text" name="name" id="name" value=<%= loggedInUser.name %> required/>
    <label for="location">Location</label>
    <input type="text" name="location" id="location" value=<%= loggedInUser.location %> required/>
    <hr>
    <% if(!loggedInUser.githubLoginOnly) { %>
      <a href="change-password" style="display: block;">Change Password &rarr;</a>
    <% } %>
    <button>Save</button>
  </form>
</div>

<%- include('partials/footer'); %>
