<%- include('partials/header') %>

<h1><%= pageTitle %></h1>
<h4>Update Video</h4>
<form method="POST">
  <label for="title">Title</label>
  <input name="title" placeholder="Enter New Video Title" value="<%= video.title %>", maxlength=50, required />
  <input name="description" placeholder="Description", value="<%= video.description %>", minLength=10, required />
  <input name="hashTags" placeholder="Hash Tags, seaprated by comma", value="<%= video.hashTags %>", required />
  <button type="submit">Save</button>
</form>

<%- include('partials/footer'); %>

