<%- include('partials/header') %>

<h1><%= pageTitle %></h1>
<div>
  <video src="/<%= video.fileUrl %>" controls style="width:1000px"></video>
  <h3>
    <% if(video.meta.views <= 1) { %>
      <%= video.meta.views %> view
    <% } else { %> 
      <%= video.meta.views %> views
    <% } %>
    </h3>
    <p><%= video.description %></p>
    <div>
      <% for(let i=0; i<video.hashTags.length; i++) { %>
        <span><%= video.hashTags[i] %></span>
      <% } %>
    </div>
    <small><%= video.createdAt %></small>
    <div>
      <a href="<%= video.id %>/edit">Edit Video &rarr;</a>
    </div>
    <div>
      <a href="<%= video.id %>/delete">Delete Video &rarr;</a>
    </div>
    
</div>

<%- include('partials/footer'); %>
